body {
  margin: 0;
  font-family: sans-serif;
}

/* #region PROJET1 LIASONS VEGETALES*/

/* #region slide1*/

/* 1 grille et colonnes */

.grid-p1s1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: calc(100vh - 20rem);
  padding-top: 10rem;
  padding-bottom: 5rem;
  padding-left:10rem ;
  padding-right:10rem ;
  column-gap: 2vw;
}

.col-p1s1-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2vw;


  background-color: crimson;
}

.col-p1s1-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2vw;

  background-color: royalblue; 
}

.col-p1s1-3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2vw;

  background-color: seagreen; 
}


/* 2 blocks et elements */

.media-block-p1s1 {
  display: block;
  width: 100%;
}

.placeholder-p1s1 {
  aspect-ratio: 1 / 1;
  width: 100%;
  background-color: black;
}

.credit {
  position: absolute;
  font-size: 1rem;
  line-height: 1.2;
  margin: 0;

}

.text-block-p1s1 {
  display: flex; 
  flex-direction: column;
  justify-content: flex-end; 
 
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: white;

  padding: 0; 
  margin: 0;
  gap: 0;
}

.protocole-titre {
  font-size: 1.5rem;
  margin: 0;  
  padding: 0;
} 

.protocole-corps {
  font-size: 1.1rem;
  margin: 0;  
  padding: 0;
}

/* #endregion */


/* #region slide2*/

/* 1 grille et colonnes 

grid-p1s1 v
col-p1s1-1 v
col-p1s1-2 v
col-p1s1-3 v

2 blocks et elements

placeholder-p1s1"v
credit v
*/

.media-block-p1s2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2vw;

  width: 100%;

  position: relative

}

.text-block-p1s2 {
  gap: 0;
}

.extrait {
  font-size: 1.1rem;
}



/* #endregion */


/* #endregion */

