body {
  margin: 0;
  font-family: sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: calc(100vh - 4vw);
  padding: 2vw;
  column-gap: 1vw;
}

.col-p1-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: ;
  font-size: 1.5rem;
  height: 100%;

   background-color: crimson;
}

.col-p1-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: ;
  font-size: 1.5rem;
  height: 100%;

  background-color: royalblue; 
}

.col-p1-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: ;
  font-size: 1.5rem;
  height: 100%;

  background-color: seagreen; 
}

.col-p1-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: ;
  font-size: 1.5rem;
  height: 100%;

  background-color: darkorange;
}


.placeholder {
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: black;
}
