body {
  margin: 0;
  font-family: sans-serif;
}

/* #region PROJET1 LIASONS VEGETALES*/

/* #region slide1*/

/* 1 grille et colonnes */

.grid-p1s1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left:5rem ;
  padding-right:5rem ;
  column-gap: 2vw;
}

.col-p1s1-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2vw;


  background-color: crimson;
}

.col-p1s1-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2vw;

  background-color: royalblue; 
}

.col-p1s1-3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2vw;

  background-color: seagreen; 
}


/* 2 blocks et elements */

.media-block-p1s1 {
  display: block;
  width: 100%;
}

.placeholder-p1s1 {
  aspect-ratio: 1 / 1;
  width: 100%;
  background-color: black;
}

.credit {
  position: absolute;
  font-size: 1rem;
  line-height: 1.2;
  margin: 0;
  z-index: 10;

}

.text-block-p1s1 {
  display: flex; 
  flex-direction: column;
  justify-content: flex-end; 
 
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: white;

  padding: 0; 
  margin: 0;
  gap: 0;
}

.protocole-titre {
  font-size: 1.5rem;
  margin: 0;  
  padding: 0;
} 

.protocole-corps {
  font-size: 1.1rem;
  margin: 0;  
  padding: 0;
}

/* #endregion */


/* #region slide2

credit v`
*/

/* 1 grille et colonnes */

.grid-p1s2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 5rem;
  padding-left:5rem ;
  padding-right:5rem ;
  column-gap: 2vw;
}

.col-p1s2-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20vw;
}

.col-p1s2-2 {
  display: flex;
}

.col-p1s2-3 {
  display: flex;
}


/* 2 blocks et elements */

.media-block-p1s2-1 {
  display: flex;
  flex-direction: column;
  gap: 2vw;
  position: relative;
  width: 100%;

}

.media-block-p1s2-2 {
  display: block;
  position: relative;
  width: 100%;

}

.text-block-p1s2 {
  gap: 0;
}

.extrait {
  font-size: 1.1rem;
}



/* #endregion */


/* #endregion */

