
/* #region MAIN LAYOUT options */
:root {

/* margin top  */
--m-top: 10vh ;
/* marge left */
--m-left:15vw ;
/* marge right */
--m-right:5vw ;

/* col spacer of info col dans info box*/
--m-col-info : 6vw;

/* marges entres projets titres petit */
--m-projects:clamp(10px, 2.618vw + 1.309vh, 10px);

/* largeur des sections projets */
--w-projet: auto  ; 

/* taille titre 1 petit */
--s-titres-smal:clamp(15px, 2.618*( 0.1vw + 1.1vh), 40px) ; 
/* taille titre 2 big */
--s-titres-big:clamp(30px, 2.618*( 0.1vw + 2vh), 60px)  ; 


/* taille info */
--s-info: 20px; 
/* marge info left */
--m-info-left:5vw ;

}

/* #endregion */

/* #region FONTS & SIZES */
/* stacks globales */
@font-face {
  font-family: DINdong;
  src: url("fonts/DINdong.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root{
  --ff-body: "Roboto Condensed", Roboto, system-ui, -apple-system, "Segoe UI", Arial, sans-serif;
  --ff-ui:   Roboto, system-ui, -apple-system, "Segoe UI", Arial, sans-serif;
  --ff-title:"DINdong","Roboto Condensed", Arial, sans-serif;
}


.credit {
  font-size: calc(1.3*((1vw + 0.5vh)/1.618));

  
  z-index: 10;
  font-family: DINdong;
}

.protocole-titre {
  font-size: calc(1.618*(1vw + 0.5vh)) ;
  font-family: DINdong;


  padding: 0;
}

.protocole-corps {
  font-size: clamp(15px, 0.9vw + 0.4vh, 25px) ;
  font-family: Roboto;


}

.extrait-titre {
  font-size: clamp(20px, calc(1.618 * 1vw + 8px), 35px);
  font-family: DINdong;
}

.extrait {
  font-size: clamp(15px, 0.9vw + 0.4vh, 25px) ;
  font-family: DINdong;
  line-height: 1.35;
  
}

.extrait br{
  display: block;
  content: "";
  margin-bottom: 0;
}

.extrait br + br{
  margin-top: clamp(0px, 0.5vw, 5px);
}

.context {
  font-size: clamp(17px, 0.9vw + 0.4vh, 27px)  ;
  font-family: Roboto;
  
}

.intro {
  font-size: calc(1vw + 0.5vh) ;
  font-family: Roboto;
  font-weight: bold;
  font-style: italic;

  text-align: right; 

}

.lien {
  font-size: calc(1vw + 0.5vh) ;
  font-family: DINdong;
}

.trait {
  width: calc(6vw + 3vh) ;           
  border: none;          
  border-top: calc(1.5px + 0.025vw + 0.025vh) solid black; 
  margin: 10px 0;    

}

.justify {
  text-align: justify   

}


/* #endregion */

/* #region JUMPS + GAPS */

.jump-bordertop-rest{
  margin-top: var(--m-top) ; /* _________________  */
  }

.allproject{
  gap: var(--m-projects);/* _________________  */
  }

.jump-extrait-body{
  margin-bottom: clamp(16px, 1vw + 0.8vh, 56px);
}

.jump-protocole-body{
  margin-bottom: clamp(20px, 1.2vw + 1vh, 72px);
}

.jump-intro-body{
  margin-bottom: clamp(12px, 0.8vw + 0.6vh, 48px);
}

.jump-bloc-credit{
  margin-top: clamp(10px, 1.1vw + 0.9vh, 20px);
}

.jump-bloc-lien{
  margin-top: clamp(10px, 0.7vw + 0.6vh, 40px);
}


/* si jump est sur un <a>, marges fiables */
a.lien.jump-bloc-lien{ display:block; }

.jump-body-titre{
  margin-top: 0px;

}
/* #endregion */

/* #region INFO */

.info-titre{
  font-family: Roboto;
  font-size: var(--s-info); 

  position: fixed;/* _________________  */
  z-index: 999;
  top:  var(--m-top);  /* _________________  */

  margin-left:var(--m-info-left) ; /* _________________  */
  
  }
.info-boxe{
  position: fixed;
  background: rgb(181, 132, 132);
  z-index: 8;

  top: 0;
  left: 0;
  width:100vw ;
  height: 100vh;

   overflow-y: auto;

  /* pointer-events: none;*/
  opacity: 1;
}

.grid-info{
  margin-top: var(--m-top);
  margin-left: var(--m-left);

  display: grid;
  grid-template-columns: 1fr 1fr ;
  column-gap: 2vw;

  height: calc(100vh - var(--m-top));
 
} 
.col-info-1{
  
} 

.col-info-2{
  position: fixed; 
  align-self: start;

  top: var(--m-top);         
  left: calc(var(--m-left) + (100vw - var(--m-left) - var(--m-right) - 2vw) / 2 + var(--m-col-info));
  width: calc((100vw - var(--m-left) - var(--m-right) - 2vw) / 2);

  overflow: hidden;
}  


.placeholder-p0{
 width: 50vw ;
 height:50vw ;
 color: rgba(20, 38, 172, 0.81);

 margin-bottom: 2vw;
}  


/* #endregion */

/* #region GLOBAL DIV */

/* voile derrière */
.voile{
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 1;

  background:
  
   color white;
}

.allproject{
  display: flex;
  flex-direction: column;
  margin-left: var(--m-left); /* ______________________ */
  margin-right: var(--m-right);
}

.is-hidden { display: none; }



/* VOILE — visible quand tout est fermé, disparaît quand un projet est ouvert */
.allproject{ position: relative; }

/* contenu au-dessus du voile */
.allproject > *:not(.voile){
  position: relative;
  z-index: 2;
}


/* un projet ouvert => voile OFF */
body.has-open .voile{ opacity: 0; }

/* #endregion */

/* #region PROEJT STYLE  */

.PROJET {
  font-size: var(--s-titres-smal); /* _________________  */
  font-family: DINdong;

  padding: 0;
  transition: transform 0.3s ease;

  text-align: left;      /* centre les lignes */
  text-wrap: balance;      /* équilibre les retours à la ligne (super utile pour titres) */
  line-height: 1.1;        /* un peu plus compact pour un look titre */
   max-width: 90ch;         /* optionnel : évite les lignes trop longues */
  /*  margin: 0 auto;          centre le bloc lui-même */
}

.PROJET{
  width: var(--w-projet);  /* largeur de colonne __________________________________________*/
           /* centre la colonne */
  text-align: left;        /* <-- ferrage à gauche */
  max-width: none;         /* on laisse width faire le job */
}

/* option : en état "open", on garde exactement la même logique */
body.has-open .PROJET{
  width: var(--w-projet);
  text-align: left;
}



.PROJET:hover {
  transform: scale(1.05);
  transform: translateX(calc(0.5vw + 0.5vh)); 
  cursor: pointer;
  font-weight: 1000; /* 600 is semi-bold, between normal (400) and bold (700) */
}

/* mode editorial dès qu’un projet est ouvert */
body.has-open .PROJET{
  font-size: var(--s-titres-big);/* _________________  */
}


.micro-retour{
  display: inline-block;
  margin-left: 0.55em;
  font-size: 0.72em;
  letter-spacing: 0.02em;
  opacity: 0.45;
  transform: translateY(-0.08em);
}


/* #endregion */

/* #region IMG DISPLAY */

/* Normaliser TOUS les blocs image */
[class*="placeholder"]{
  position: relative;
  overflow: hidden;
  background: white; /* stop bandes noires */
}

[class*="placeholder"] img{
  width: 100%;
  height: 100%;
  object-fit: cover;   /* remplit le cadre */
  display: block;
  transform: translateY(var(--parallax, 0px)) scale(1.06); /* marge pour parallax */
  will-change: transform;
}

/* #endregion */


/* #region X PROJECTs */

/* #region PROJET1 LIASONS VEGETALES */



.p1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: calc(1.618*(1vw + 0.5vh)) ;
}


/* #region slide1 */

/* 1 grille et colonnes */
.grid-p1s1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2vw;
}

.col-p1s1-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* background-color: seagreen;*/
}

.col-p1s1-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* background-color: seagreen;*/
}

.col-p1s1-3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* background-color: seagreen;*/
}


/* aligne le titre sur le haut de colonne (même ligne que l’image / texte) */
.extrait-titre{
        /* <- clé */
  padding: 0;
  line-height: 1;
}



/* optionnel : si tes <p> ont encore des marges ailleurs */






/* 2 blocks et elements */
.media-block-p1s1 {
  display: block;
  width: 100%;
}

.placeholder-p1s1 {
  width: 100%;
  min-width: 240px;           /* ajuste */
  max-width: 500px;   
  height: min(clamp(500px, 80vh, 900px), 100vh);

}

@media (min-width: 1200px){
  .placeholder-pls1{
    max-width: 800px;                 /* optionnel mais souvent nécessaire */
    height: clamp(650px, 100vw, 1000px); /* vw => plus large = plus haut, plafonné par vh */
  }
}

.text-block-p1s1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: white;
  padding: 0;
  margin-top: calc(1.299*(1vw + 0.5vh));
  gap: 0;
}



/* #endregion */


/* #region slide2 */

/* 1 grille et colonnes */
.grid-p1s2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  column-gap: 2vw;
}

.col-p1s2-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
 
}

.col-p1s2-2 {
  display: flex;
}

.col-p1s2-3 {
  display: flex;

}



/* 2 blocks et elements */
.media-block-p1s2-1 {
  display: flex;
  flex-direction: column;
  gap: 2vw;
  position: relative;
  width: 100%;
}

.media-block-p1s2-2 {
  display: block;
  position: relative;
  width: 100%;

}





/* #endregion */

/* #endregion */

/* #region P2 PAENSER */


.p2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* 1 grille et colonnes */
.grid-p2 {
  display: grid;
  grid-template-columns: 0.7fr 1.3fr;
  column-gap: 5vw;
}
.col-p2-1 {
  display: flex;
  flex-direction: column; 
  justify-content: flex-start;
  gap: 2vw;
}
.col-p2-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* 2 blocks et elements */
.media-block-p2 {
  display: block;
  width: 100%;
  
}
.placeholder-p2 {
  aspect-ratio: 1 / 1;
  width: 100%;

}
.credit-p2 {
  text-align: right;
  margin-left: auto;
}
.text-block-p2 {
  text-align: right;  /* Aligne tout le texte à droite */
}

/* Si besoin de contrôle plus fin sur certains éléments */
.protocole-titre-p2 {
  text-align: right;  /* Aligne tout le texte à droite */
  }

.protocole-corps-p2 {
  text-align: justify;
  hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;

  }

.lien-p2 {
  text-align: right;
  text-decoration: underline;
  color: inherit; /* garde la couleur du texte parent */
  cursor: pointer;
}


/* #endregion */

/* #region P3 DES NORMES AUX MORNES : MARRONNER EN SOI. */

/* 1 grille et colonnes */
.grid-p3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2vw;
}

.grid-p3-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.col-p3-1 {
  display: flex;
  flex-direction: column; 
  justify-content: flex-start;
  gap: 2vw;
}



.col-p3-2 {
  display: flex;
  flex-direction: column; 
  justify-content: flex-start;
  gap: 2vw;
}

/* 2 blocks et elements */
.text-block-p3-1 {
  display: flex;
  flex-direction: column;
  flex: 1;       /* occupe toute la hauteur dispo dans la colonne */
  min-height: 0; /* très important en contexte grid */
}
.text-block-p3-2 {
}


.text-block-p3-3 {
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

.intro-p3 {
  margin-left: 15%;
    display: flex;
  flex-direction: column; 
  justify-content: flex-start;
}
.autre-corps {
}
.biblio {
}
.media-block-p3 {
  display: flex;
  flex-direction: row;
  gap: 2vw;
  width: 100%;
}

.credit-p3 {
text-align: right;
}

.biblio-p3 {
margin-top: auto;
}

.trait-p3 {
margin-top: auto;
}

.footer-p3 {
  margin-top: auto;            /* pousse ce bloc en bas */
  display: flex;
  flex-direction: column;
  gap: 0.5rem;                  /* espace entre trait et crédit */
}

.placeholder-p3 {
  aspect-ratio: 1 / 1;
  width: 50%;  /* Chaque placeholder prend la moitié de l'espace */

  text-align: right;
}

.lien-p3 {
text-align: right;
}

/* #endregion */

/* #region P4 ECOLE COMME CAISSE D RESONNANCE */

/* 1 grille et colonnes */
.grid-p4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2vw;
}

.col-p4-1 {
  gap: calc(  1vw + 0.5vh) ;
}
.col-p4-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2vw;
 
}
.col-p4-3 {
    display: flex;
  flex-direction: column;
  justify-content: flex-start;

}

/* 2 blocks et elements */
.media-block-p4-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2vw;
    }

.placeholder-p4-1 {
  aspect-ratio: 6 / 4;


  }

.placeholder-p4-2 {
  aspect-ratio: 6 / 4;


}

.text-block-p4-1 {
}


.intro-p4 {
margin-top: calc(1vw + 0.5vh) ;
}

.context-p4 {

}

.autre-corps {
}
.lien-p4 {
  text-align: right;

}
.text-block-p4-2 {
}
.protocole-corps-p4 {

}

.credit-p4 {
  text-align: right;
}

/* #endregion */

/* #region P5 GESTES POSSIBLES */

/* 1 grille et colonnes */
.grid-p5 {
  display: grid;
  grid-template-columns: 0.3fr 0.3fr 0.6fr;
  column-gap: 2vw;
}

.col-p5-1 {
  z-index: 1;
  
}
.col-p5-2 {
  margin-left: -5vw ;
  z-index: 0;
}

.col-p5-2 {
}

/* 2 blocks et elements */
.media-block-p5-1 {
  margin-top: calc(20px + 10vw + 12vh) ;
}

.placeholder-p5-1 {
  aspect-ratio: 3.33 / 6.33;
  background-color: rgb(211, 196, 196);
}
.placeholder-p5-2 {
  aspect-ratio: 4 / 5;

}



.text-block-p5-1 {
}

.context-p5 {
  margin-left: calc(5vw + 1vh) ;
}
.intro-p5{
margin-top: calc(1vw + 0.5vh);
}



.protocole-corps-p5{

}




/* #endregion */

/* #region P6 LES MARGES FORCÉES */

/* 1 grille et colonnes */
.grid-p6 {
  display: grid;
  grid-template-columns: 0.35fr 0.5fr ;
  column-gap: calc(20px + 6vw + 4vh);
}


.col-p6-1 {
}
.col-p6-2 {
}

/* 2 blocks et elements */
.media-block-p6 {


}
.placeholder-p6 {
  aspect-ratio: 4 / 4;

}

.credit-p6 {
text-align: right;
}


.autre-corps {
}
.text-block-p6-1 {
margin-top: clamp(20px,0.5vh + 0.5vw,20px) ;
}
.media-block-p6-2 {
}
.placeholder-p6-2 {
}

.context-p6 {
  justify-content: baseline;
}


.intro-p6 {
  justify-content: baseline;
}


.placeholder-p6-2 {
}

.placeholder-p6-2 {
}


/* Justification harmonisée pour les textes longs */
.context-p6,
.extrait-p6,
.protocole-corps-p6 {
  text-align: justify;          /* aligne des 2 côtés */
  text-align-last: left;        /* dernière ligne non justifiée (évite l'effet étiré) */
  hyphens: auto;                /* césure automatique */
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  /* optionnel : un poil d'espace pour un gris plus régulier */
  /* word-spacing: 0.02em; */
}




.lien-p6 {
margin-top: 0;
display:block; 
width:100%; 
text-align: right;

}



/* #endregion */

/* #region P7 HIER ET C EST DEJA DEMAIN  */

/* 1 grille et colonnes */
.grid-p7 {
  display: grid;
  grid-template-columns: 0.655fr 0.455fr ;
  column-gap: 2vw;
}

.col-p7-1 {
}

.col-p7-2 {
}

/* 2 blocks et elements */
.media-block-p7-1 {
}
.placeholder-p7-1 {
  width: 100%;  
  height:clamp(500px, 50vh + 25vw, 900px);

}

.media-block-p7-2 {
  margin-block: clamp(10px, 3vh, 30px); 
  margin-left: clamp(10px, 3vh, 30px);
}

.placeholder-p7-2 {
  aspect-ratio: 4 / 4;

}

.text-block-p7-1 {
  display: grid;
  grid-template-columns: 0.4fr 0.6fr ;
}

.credit-p2-2 {
 text-align: right;
}


.context-p7 {
 margin-top: calc(2vw + 1vh);
}

/* #endregion */

/* #region P8 NOUS SOMMES LE PAYSAGE */

/* 1 grille et colonnes */
.grid-p8-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2vw;
}


.col-p8 {
  display: flex;
  flex-direction: column;
  gap:2vw;
}


/* 2 blocks et elements */
.credit-p8-1 {
margin-left: 0;
}


.placeholder-p8-1 {
  aspect-ratio: 1 / 1;
  width: 100%;  

}

.row-p8-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 2vw;
}

.placeholder-p8-2 {
  aspect-ratio: 1 / 1;
  width: 100%;  

}

.credit-p8-2 {
text-align: right;
}

.row-p8-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr;
  column-gap: 2vw;
  margin-top: clamp(20px,0.5vh + 0.5vw ,40px);
}

.grid-p8-2 {
  display: block;
  grid-template-rows: 1fr 1fr ;
 
}

.text-block-p8{
  display: flex;
  flex-direction: column;

}

.credit-p8-3{
margin-top: auto;
width: clamp(200px, 25vw + 25vh, 900px);
}

.credit-p8-3{
margin-top: auto;
}

.credit-p8-3{
margin-top: auto;
}

.col-p8-new{
margin-top: clamp(30px, 3vh + 3vw, 60px);
}
/* #endregion */

/* #region P9 NYAZE */




.grid-p9{
display: grid;
grid-template-columns: 1fr 1fr ;
column-gap: 6vw;
align-items: start;
}


.col-p9-1{
  display: flex;
  flex-direction: column;
  justify-content: flex-start; ;
}

.placeholder-p9{
  aspect-ratio: 1 / 1;
  width: 100%;  
 
  margin-top: 0;
}

.credit-p9{
text-align: right;
}



.trait-p9 {
 margin-top: calc(4vw + 2vh); /* Keeping the smaller margin value */
}

.extrait-p9 {
 text-indent: 10ch;          /* ≈ deux « caractères » d'indent */
 hanging-punctuation: first;}

.protocole-corps-p9 {
 margin-top: calc(2vw + 1vh);
 margin-right: 25%;
}

.protocole-titre-p9 {
 margin-top: calc(2vw + 1vh);
}


[class*="placeholder"] {
  position: relative;
  overflow: hidden;
}

[class*="placeholder"] img {
  position: absolute;
  width: 110%;
  height: 110%;
  top: -5%;
  left: -5%;
  object-fit: cover;
  will-change: transform;
  transition: transform 0.1s linear;
}

/* #endregion */

/* #endregion */