body {
  margin: 0;
  font-family: sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: calc(100vh - 4vw);
  padding: 2vw;
  column-gap: 1vw;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-size: 1.5rem;
  color: white;
  height: 100%;
}

.col-1 { background-color: crimson; }
.col-2 { background-color: royalblue; }
.col-3 { background-color: seagreen; }
.col-4 { background-color: darkorange; }

.placeholder {
  width: 80%;
  aspect-ratio: 1 / 1;
  background-color: black;
}
