body {
  margin: 0;
  font-family: sans-serif;
}

.grid-p1s1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: calc(100vh - 4vw);
  padding: 2vw;
  column-gap: 1vw;
}




.col-p1s1-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1vw;

  height: 100%;
  background-color: crimson;
}

.col-p1s1-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1vw;

  height: 100%;
  background-color: royalblue; 
}

.col-p1s1-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1vw;

  height: 100%;
  background-color: seagreen; 
}




.media-block {
  display: block;
  width: 100%;
}

.placeholder-p1s1 {
  aspect-ratio: 1 / 1;
  width: 100%;
  background-color: black;
}

.credit {
  position: absolute;
  font-size: 0.75rem;
  line-height: 1.2;
  margin: 0;

}

.text-block-p1s1 {
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: white;
}

.protocole-titre {
  font-size: 1.5rem;
} 

.protocole-corps {
  font-size: 1rem;
}
