/* This file contains helper classes for common CSS tasks, such as text alignment and visibility. */

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.flex {
    display: flex;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}