/* 
  This file contains CSS reset styles to ensure consistent rendering across different browsers.
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  line-height: 1.15; /* Improve readability */
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape */
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}